body {
    background: rgba(43, 214, 72, 0.671);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section  {
    background: white;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.678);
}

select#flista {
    width: 200px
}

footer {
    text-align: center;
    color: white;
}